<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">

      <li *ngFor="let tempProductCategory of productCategories"> <!-- Loop over categories and build links dynamically -->
        <!-- added category id to link below -->
        <a routerLink="/category/{{ tempProductCategory.id }}" routerLinkActive="active-link">
            {{ tempProductCategory.categoryName }} <!-- Displayed category name -->
        </a>

      </li>

    </ul>
  </nav>
</div>
